* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: $regular;
    font-style: normal;
    color: $black;
}

html {
    padding: 0 8px;
    scroll-behavior: smooth;
}

body {
    padding: 64px 0;
    margin: 0 auto;
    background-color: $generalbackground;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: url('/src/Assets/Images/Grid.svg');
    max-width: 1152px;
    min-height: 100vh;

    @media (max-width: 768px) {
        padding: 32px 0 64px 0;
    }
}

a {
    text-decoration: none;

    div {
        text-decoration: none;
    }
}

.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $gradient-blue-pink;
    transform-origin: bottom;
    z-index: 99;

    &::after {
        content: "";
        background: url('/src/Assets/Images/Logo/logo-white.svg') no-repeat center;
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        z-index: 100;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $gradient-blue-pink;
    transform-origin: top;
    z-index: 99;

    &::after {
        content: "";
        background: url('/src/Assets/Images/Logo/logo-white.svg') no-repeat center;
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        z-index: 100;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

html,
body,
a {
    cursor: url('/src/Assets/Images/Cursors/Cursor.svg'), auto;
}

a,
.hand-cursor {
    &:hover {
        cursor: url('/src/Assets/Images/Cursors/Hand.svg'), pointer;
    }
}

header {
    @media (max-width: 768px) {
        justify-content: center !important;
        height: 48px;

        .logo-wrapper,
        .empty {
            display: none;
        }
    }
}