.outfit-thin {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $thin;
    font-style: normal;
}

.outfit-extralight {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $extralight;
    font-style: normal;
}

.outfit-light {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $light;
    font-style: normal;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $regular;
    font-style: normal;
}

.outfit-medium {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $medium;
    font-style: normal;
}

.outfit-semibold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $semibold;
    font-style: normal;
}

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $bold;
    font-style: normal;
}

.outfit-extrabold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $extrabold;
    font-style: normal;
}

.outfit-black {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: $black;
    font-style: normal;
}
