main {
    &.home {
        margin-top: 64px;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        .item {
            min-height: 100px;
            width: 100px;

            &#first {
                width: 100%;
                display: flex;
                gap: 16px;

                .know-more {
                    border-radius: 24px;
                    padding: 32px;
                    width: 45%;
                    background-color: rgba($background, .8);
                    box-shadow: inset 0px -6px 5px -5px rgba($blue, .4);
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    &::before {
                        margin-bottom: -38px;
                    }

                    .ios-picture {
                        display: flex;
                        width: 100%;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 16px;

                        img {
                            width: 104px;
                            height: auto;
                        }

                        h2 {
                            font-size: 32px;
                            font-weight: $medium;
                        }
                    }

                    .text {
                        i {
                            font-size: 10px;
                        }

                        em {
                            font-size: 10px;
                            font-weight: $bold;
                            text-decoration: underline;
                        }
                    }

                    .availability {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;

                        .dot {
                            transform: scale(0.8);
                            position: relative;
                            height: 16px;
                            width: 16px;
                            background: #33ce98;
                            border-radius: 50%;

                            &:after {
                                content: '';
                                position: absolute;
                                top: 3px;
                                left: 3px;
                                height: 10px;
                                width: 10px;
                                border-radius: 50%;
                                background: #2FDA9D;
                                animation: pulse 1.5s infinite;
                                transform-origin: center center;
                            }
                        }

                        span {
                            font-size: 10px;
                            font-weight: $bold;
                            color: #7D7D7D;
                        }

                        @keyframes pulse {
                            0% {
                                transform: scale(1);
                                opacity: 1;
                            }

                            25% {
                                transform: scale(1);
                                opacity: 1;
                            }

                            100% {
                                transform: scale(3);
                                opacity: 0;
                            }
                        }
                    }
                }

                .know-more-wrapper {
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    gap: 16px;

                    .banner {
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        width: 100%;
                        height: 48px;
                        background-color: rgba(245, 245, 245, 0.8);
                        border-radius: 100px;

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            width: 100px;
                            height: 100%;
                            z-index: 1;
                            pointer-events: none;
                        }

                        &::before {
                            left: 0;
                            background: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
                        }

                        &::after {
                            right: 0;
                            background: linear-gradient(to left, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
                        }

                        .scroll-content {
                            display: flex;
                            gap: 8px;
                            animation: scroll 35s linear infinite;
                            white-space: nowrap;
                        }

                        .text-roll {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            img {
                                width: 14px;
                                height: 14px;
                                opacity: 0.6;
                            }

                            div {
                                display: flex;
                                gap: 4px;

                                p {
                                    font-size: 14px;
                                    font-weight: bold;
                                }

                                span {
                                    font-size: 14px;
                                }
                            }
                        }

                        @keyframes scroll {
                            0% {
                                transform: translateX(0);
                            }

                            100% {
                                transform: translateX(-50%);
                            }
                        }
                    }


                    .map-others-wrapper {
                        width: 100%;
                        display: flex;
                        gap: 16px;

                        .map {
                            width: calc(45% - (16px /2));

                            img {
                                width: -webkit-fill-available;
                            }
                        }

                        .others {
                            width: calc(55% - (16px /2));
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            gap: 16px;

                            >div {
                                width: 100%;
                                height: 100px;
                                background-color: rgba($background, .8);
                                border-radius: 24px;

                                &.cv {
                                    padding: 0 32px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    .cv-content {
                                        span {
                                            font-size: 12px;
                                            color: $grey;
                                        }

                                        p {
                                            font-size: 24px;
                                            font-weight: $medium;
                                            color: $darkgrey;
                                        }
                                    }
                                }
                            }

                            .cv-btns {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 16px;

                                button {
                                    outline: none;
                                    background-color: transparent;
                                    border: 0;
                                }

                                img {
                                    width: 28px;
                                    height: auto;
                                    cursor: url('/src/Assets/Images/Cursors/Hand.svg'), pointer;
                                }
                            }

                            .theme-switcher {
                                display: flex;
                                padding: 8px;

                                .btn {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 18px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: url('/src/Assets/Images/Cursors/Hand.svg'), pointer;
                                    transition: .25 ease-in-out;

                                    img {
                                        opacity: 0.4;
                                    }

                                    &.active {
                                        background-color: #F8F8F8;
                                        box-shadow: 0px 0px 10px -4px rgba($black, .25);

                                        img {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &#second {
                width: calc(50% - (16px / 2));
                display: flex;
                flex-direction: column;
                gap: 16px;

                .socialsmedia--software-mail {
                    display: flex;
                    gap: 16px;

                    .socials-media {
                        width: calc(35% - (16px / 2));
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        a {
                            background-color: rgba($background, .8);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 24px;
                            height: 128px;
                        }
                    }

                    .software-mail {
                        width: calc(65% - (16px / 2));
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .software {
                            display: flex;
                            background-color: rgba($background, .8);
                            border-radius: 24px;
                            height: 272px;
                            flex-direction: column;
                            justify-content: space-around;
                            padding: 32px 0;

                            .software-text {
                                padding: 0 32px;

                                span {
                                    color: $grey;
                                    font-size: 12px;
                                }

                                p {
                                    color: $darkgrey;
                                    font-size: 24px;
                                    font-weight: $medium;
                                }
                            }

                            .logo-slider {
                                // Variables pour les tailles d'image
                                $min-image-size: 50px;
                                $max-image-size: 40px;

                                // Définition de la taille d'image utilisée
                                --image-size: #{$max-image-size};

                                // Styles généraux du conteneur
                                overflow: hidden;
                                width: 100%;
                                margin: 0 auto;
                                position: relative;
                                display: flex;
                                height: fit-content;

                                .img-wrapper {
                                    display: flex;
                                    gap: 16px;
                                    animation: marquee 30s linear infinite; // Appliquer l'animation à l'ensemble du wrapper
                                }

                                // Styles pour le conteneur des images
                                div {
                                    display: flex;
                                    position: relative;
                                    justify-content: space-around;
                                }

                                .img-container {
                                    height: 80px;
                                    width: 80px;
                                    border-radius: 18px;
                                    background-color: $generalbackground;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                // Styles des images
                                img {
                                    display: block;
                                    min-width: var(--image-size);
                                    height: var(--image-size);
                                    margin: 0 1vw;
                                }

                                // Effet de dégradé à droite du conteneur
                                &:after {
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    top: 0;
                                    background: linear-gradient(to right, $background, rgba($background, 0) 80px, rgba($background, 0) calc(100% - 80px), $background);
                                }

                                // Médias queries pour les tailles d'images sur écrans plus petits
                                @media (max-width: 900px) {
                                    --image-size: min(max(#{$min-image-size}, 10vw), #{$max-image-size});
                                }
                            }

                            // Animation de défilement horizontal
                            @keyframes marquee {
                                0% {
                                    transform: translateX(0);
                                }

                                100% {
                                    transform: translateX(-50%); // Déplacez de 50% pour que les images doublées continuent à défiler
                                }
                            }
                        }

                        .mail {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba($background, .8);
                            border-radius: 24px;
                            height: 128px;
                        }
                    }
                }

                .studies {
                    min-height: 700px;
                    background-color: rgba($background, .8);
                    border-radius: 24px;
                    display: flex;
                    flex-direction: column;
                    padding: 32px;

                    div {
                        &:first-child {
                            display: flex;
                            flex-direction: column;

                            span {
                                font-size: 12px;
                                color: $grey;
                            }

                            p {
                                font-size: 24px;
                                font-weight: $medium;
                                color: $darkgrey;
                            }
                        }

                        &:last-child {
                            display: flex;
                            flex-direction: column;
                            margin-top: auto;

                            span {
                                font-size: 12px;
                                color: $grey;

                                em {
                                    font-size: 12px;
                                    font-weight: $semibold;
                                    color: $grey;
                                }
                            }
                        }
                    }

                    .timeline {
                        position: relative;
                        margin: 0 auto;
                        padding: 40px 0;
                        box-sizing: border-box;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 50%;
                            width: 2px;
                            height: 85%;
                            background: $lightgrey;
                        }

                        ul {
                            padding: 0;
                            margin: 0;

                            li {
                                list-style: none;
                                position: relative;
                                width: 50%;
                                box-sizing: border-box;

                                .content {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 8px;

                                    p {
                                        display: flex;
                                        flex-direction: column;
                                    }
                                }

                                &.now {
                                    &::before {
                                        background: $blue !important;
                                        box-shadow: 0 0 0 3px $blue !important;
                                    }
                                }

                                &:nth-child(even) {
                                    float: left;
                                    text-align: right;
                                    clear: both;
                                    padding: 20px 36px 64px 0;

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        width: 10px;
                                        height: 10px;
                                        top: 24px;
                                        right: -6px;
                                        background: $lightgrey;
                                        border-radius: 50%;
                                        box-shadow: 0 0 0 3px $lightgrey;
                                    }

                                    .time {
                                        position: absolute;
                                        top: 12px;
                                        right: -112px;
                                        margin: 0;

                                        h4 {
                                            font-size: 32px;
                                            font-weight: $bold;
                                            text-align: center;
                                            color: $darkgrey;
                                        }
                                    }
                                }

                                &:nth-child(odd) {
                                    float: right;
                                    text-align: left;
                                    clear: both;
                                    padding: 20px 0 64px 36px;

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        width: 10px;
                                        height: 10px;
                                        top: 24px;
                                        left: -4px;
                                        background: $lightgrey;
                                        border-radius: 50%;
                                        box-shadow: 0 0 0 3px $lightgrey;
                                    }

                                    .time {
                                        position: absolute;
                                        top: 12px;
                                        left: -112px;
                                        margin: 0;

                                        h4 {
                                            font-size: 32px;
                                            font-weight: $bold;
                                            text-align: center;
                                            color: $darkgrey;
                                        }
                                    }
                                }

                                h3 {
                                    padding: 0;
                                    margin: 0;
                                    color: $darkgrey;
                                    font-weight: $semibold;
                                    font-size: 20px;

                                    em {
                                        font-weight: $thin;
                                    }
                                }

                                p {
                                    font-size: 12px !important;
                                    color: $black !important;
                                    margin: 0;
                                    padding: 0;
                                }

                                span {
                                    font-size: 12px;
                                    font-weight: $light;
                                    font-style: italic;
                                    color: $black !important;
                                }

                                .time h4 {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }

                        // @media(max-width: 1000px) {
                        //     width: 100%;
                        // }

                        // @media(max-width: 767px) {
                        //     width: 100%;
                        //     padding-bottom: 0;

                        //     h1 {
                        //         font-size: 40px;
                        //         text-align: center;
                        //     }

                        //     &:before {
                        //         left: 20px;
                        //         height: 100%;
                        //     }

                        //     ul {
                        //         li {
                        //             width: 100%;
                        //             text-align: left;
                        //             padding-left: 50px;
                        //             padding-bottom: 50px;

                        //             &:nth-child(odd):before,
                        //             &:nth-child(even):before {
                        //                 top: -18px;
                        //                 left: 16px;
                        //             }

                        //             .time {
                        //                 top: -30px;
                        //                 left: 50px;
                        //                 right: inherit;
                        //             }
                        //         }
                        //     }
                        // }
                    }
                }
            }

            &#third {
                width: calc(50% - (16px / 2));

                display: flex;
                flex-direction: column;
                gap: 16px;

                .projects,
                .experiences {
                    display: flex;
                    flex-direction: column;
                    padding: 32px;
                    background-color: rgba($background, .8);
                    border-radius: 24px;

                    .up-title {
                        display: flex;
                        flex-direction: column;

                        span {
                            font-size: 12px;
                            color: $grey;
                        }

                        p {
                            font-size: 24px;
                            font-weight: $medium;
                            color: $darkgrey;
                        }
                    }
                }

                .projects {
                    min-height: 700px;

                    .btns {
                        margin-top: 16px;
                        margin-bottom: 32px;

                        display: flex;
                        gap: 8px;

                        .btn {
                            padding: 12px;
                            min-width: 120px;
                            text-align: center;
                            background-color: $background;
                            border-radius: 10px;
                            color: $lightgrey;
                            font-weight: $medium;
                            cursor: url('/src/Assets/Images/Cursors/Hand.svg'), pointer;

                            &.active {
                                color: $darkgrey;
                                box-shadow: 0px 0px 10px -4px rgba($darkgrey, 0.5)
                            }
                        }
                    }

                    .projects-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 32px;

                        .separator {
                            height: 1px;
                            width: 85%;
                            background-color: $generalbackground;
                            border-radius: 1px;
                            margin: 0 auto;
                        }

                        .project-item {
                            display: flex;
                            gap: 16px;

                            &.right {

                                h5,
                                p {
                                    text-align: end;
                                }

                                .tags {
                                    align-self: end;
                                }
                            }

                            img {
                                width: 50%;
                                height: auto;
                                border-radius: 8px;
                                height: 150px;
                            }

                            .project-text {
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                h5 {
                                    font-size: 32px;
                                    color: $darkgrey;
                                    font-weight: $bold;
                                }

                                p {
                                    color: $grey;
                                    font-size: 14px;
                                }

                                .tags {
                                    display: flex;
                                    gap: 8px;
                                    margin-top: 8px;

                                    span {
                                        padding: 2px 12px;
                                        border-radius: 50px;
                                        background-color: $grey;
                                        color: $darkgrey;
                                        font-weight: $bold;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }

                    .btn-random {
                        align-self: center;
                        margin-top: 32px;
                        border-radius: 8px;
                        background-color: $darkgrey;
                        padding: 4px 48px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: url('/src/Assets/Images/Cursors/Hand.svg'), pointer;

                        img {
                            height: 32px;
                            width: 32px;
                        }
                    }
                }

                .experiences {
                    .separator {
                        height: 1px;
                        width: 80%;
                        background-color: $generalbackground;
                        align-self: center;
                        border-radius: 1px;
                        margin: 48px 0 48px 0;
                    }

                    .dev-web,
                    .summer-job {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                    }

                    .summer-job {
                        .exp {
                            .title {
                                p {
                                    color: $lightgrey;
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }

                    .exp {
                        display: flex;
                        cursor: url('/src/Assets/Images/Cursors/Hand.svg'), pointer;

                        .title {
                            width: 70%;

                            p {
                                font-size: 32px;
                                font-weight: $bold;
                                color: $darkgrey;
                            }

                            span {
                                font-size: 20px;
                                font-weight: $medium;
                                color: $darkgrey;
                            }
                        }

                        .company {
                            width: 30%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            justify-content: center;

                            p {
                                font-size: 16px;
                                font-weight: $medium;
                                color: $darkgrey;
                                text-align: end;

                                i {
                                    font-size: 12px;
                                    font-weight: $medium;
                                    color: $darkgrey;
                                }
                            }

                            span {
                                font-size: 12px;
                                color: $grey;
                            }
                        }
                    }
                }
            }
        }

        .internal-link {
            &::before {
                content: url('/src/Assets/Images/internal-link.svg');
                height: fit-content;
                width: fit-content;
                position: relative;
                cursor: url('/src/Assets/Images/Cursors/Hand.svg'), pointer;
                margin-bottom: -22px;
                margin-left: auto;
            }
        }
    }
}