footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    margin-bottom: 65px;
    // border-top: 0.5px solid #11172b;
    // border-radius: 10px;
    // border: 0.5px solid #11172b;
    backdrop-filter: blur(50px);
    gap: 10px;

    .footer--flex-row {
        display: flex;
        flex-direction: row;
    }

    .footer--flex-column {
        display: flex;
        flex-direction: column;
    }

    .footer--content {
        justify-content: space-between;
    }

    .footer--gap-10 {
        gap: 10px;
    }

    .footer-icons {
        img {
            width: 30px;
        }
    }

    .footer-download {
        width: fit-content;
        height: fit-content;
    }

    .footer-copyright {
        text-align: center;
        color: rgba($white, .8);
        font-weight: $thin;
    }

    .footer-text-light {
        font-weight: $thin;
        color: rgba($white, .8);
    }
}