header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .empty {
        width: 48px;
    }

    a {
        .logo {
            height: 48px;
            width: fit-content;

            img {
                width: 48px;
                height: 48px;
            }

        }
    }

    .menu {
        display: flex;
        flex-direction: row;
        background-color: rgba(#F0F0F1, .6);
        padding: 0 8px;
        border-radius: 55px;
        justify-content: center;
        align-items: center;

        a {
            width: fit-content;
            height: fit-content;
        }

        .item {
            width: 94px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-style: italic;
            font-size: 14px;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: url('/src/Assets/Images/Cursors/Hand.svg'), pointer;

            &.active {
                background-color: #F8F8F8;
                border-radius: 55px;
                font-weight: $semibold;
            }
        }
    }
}

body {
    @media (max-width: 768px) {
        padding-top: 80px;
    }
}

.hero-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 30px;
    background-color: $yellow;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $darkgrey;
    flex-wrap: wrap;

    .text-new {
        font-weight: $bold;
        color: $darkgrey;
    }

    .text-info {
        text-decoration: underline;
        font-style: italic;
        color: $darkgrey;
        font-weight: $light;
        font-size: 12px;
    }
}