* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #060913;
}

html {
  padding: 0 8px;
  scroll-behavior: smooth;
}

body {
  padding: 64px 0;
  margin: 0 auto;
  background-color: #E6E6E7;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: url("/src/Assets/Images/Grid.svg");
  max-width: 1152px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
a div {
  text-decoration: none;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #3043FE 0%, #BE4FF2 100%);
  transform-origin: bottom;
  z-index: 99;
}
.slide-in::after {
  content: "";
  background: url("/src/Assets/Images/Logo/logo-white.svg") no-repeat center;
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #3043FE 0%, #BE4FF2 100%);
  transform-origin: top;
  z-index: 99;
}
.slide-out::after {
  content: "";
  background: url("/src/Assets/Images/Logo/logo-white.svg") no-repeat center;
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html,
body,
a {
  cursor: url("/src/Assets/Images/Cursors/Cursor.svg"), auto;
}

a:hover,
.hand-cursor:hover {
  cursor: url("/src/Assets/Images/Cursors/Hand.svg"), pointer;
}

.inter-thin {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-thin-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.inter-light-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.inter-regular-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.inter-bold-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.inter-black-italic {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header a .logo {
  height: 48px;
  width: -moz-fit-content;
  width: fit-content;
}
header a .logo img {
  width: 48px;
  height: 48px;
}
header .menu {
  display: flex;
  flex-direction: row;
  background-color: rgba(240, 240, 241, 0.6);
  padding: 0 8px;
  border-radius: 55px;
  justify-content: center;
  align-items: center;
}
header .menu a {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header .menu .item {
  width: 94px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  font-size: 14px;
}
header .menu .item.active {
  background-color: #F8F8F8;
  border-radius: 55px;
  font-weight: 600;
}

main.home {
  margin-top: 64px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
main.home .item {
  min-height: 100px;
  width: 100px;
}
main.home .item#first {
  width: 100%;
  display: flex;
  gap: 16px;
}
main.home .item#first .know-more {
  border-radius: 24px;
  padding: 32px;
  width: 45%;
  background-color: rgba(245, 245, 245, 0.8);
  box-shadow: inset 0px -6px 5px -5px rgba(48, 67, 254, 0.4);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main.home .item#first .know-more::before {
  margin-bottom: -38px;
}
main.home .item#first .know-more .ios-picture {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
main.home .item#first .know-more .ios-picture img {
  width: 104px;
  height: auto;
}
main.home .item#first .know-more .ios-picture h2 {
  font-size: 32px;
  font-weight: 500;
}
main.home .item#first .know-more .text i {
  font-size: 10px;
}
main.home .item#first .know-more .text em {
  font-size: 10px;
  font-weight: 700;
  text-decoration: underline;
}
main.home .item#first .know-more .availability {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
main.home .item#first .know-more .availability .dot {
  transform: scale(0.8);
  position: relative;
  height: 16px;
  width: 16px;
  background: #33ce98;
  border-radius: 50%;
}
main.home .item#first .know-more .availability .dot:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #2FDA9D;
  animation: pulse 1.5s infinite;
  transform-origin: center center;
}
main.home .item#first .know-more .availability span {
  font-size: 10px;
  font-weight: 700;
  color: #7D7D7D;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
main.home .item#first .know-more-wrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
main.home .item#first .know-more-wrapper .banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 48px;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 100px;
}
main.home .item#first .know-more-wrapper .banner::before, main.home .item#first .know-more-wrapper .banner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
main.home .item#first .know-more-wrapper .banner::before {
  left: 0;
  background: linear-gradient(to right, rgb(245, 245, 245), rgba(245, 245, 245, 0));
}
main.home .item#first .know-more-wrapper .banner::after {
  right: 0;
  background: linear-gradient(to left, rgb(245, 245, 245), rgba(245, 245, 245, 0));
}
main.home .item#first .know-more-wrapper .banner .scroll-content {
  display: flex;
  gap: 8px;
  animation: scroll 35s linear infinite;
  white-space: nowrap;
}
main.home .item#first .know-more-wrapper .banner .text-roll {
  display: flex;
  align-items: center;
  gap: 8px;
}
main.home .item#first .know-more-wrapper .banner .text-roll img {
  width: 14px;
  height: 14px;
  opacity: 0.6;
}
main.home .item#first .know-more-wrapper .banner .text-roll div {
  display: flex;
  gap: 4px;
}
main.home .item#first .know-more-wrapper .banner .text-roll div p {
  font-size: 14px;
  font-weight: bold;
}
main.home .item#first .know-more-wrapper .banner .text-roll div span {
  font-size: 14px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
main.home .item#first .know-more-wrapper .map-others-wrapper {
  width: 100%;
  display: flex;
  gap: 16px;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .map {
  width: calc(45% - 8px);
}
main.home .item#first .know-more-wrapper .map-others-wrapper .map img {
  width: -webkit-fill-available;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others {
  width: calc(55% - 8px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others > div {
  width: 100%;
  height: 100px;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 24px;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others > div.cv {
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others > div.cv .cv-content span {
  font-size: 12px;
  color: #82848A;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others > div.cv .cv-content p {
  font-size: 24px;
  font-weight: 500;
  color: #3F424A;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others .cv-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others .cv-btns a {
  display: flex;
  justify-content: center;
  align-items: center;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others .cv-btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: transparent;
  border: 0;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others .cv-btns img {
  width: 28px;
  height: auto;
  cursor: url("/src/Assets/Images/Cursors/Hand.svg"), pointer;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others .theme-switcher {
  display: flex;
  padding: 8px;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others .theme-switcher .btn {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("/src/Assets/Images/Cursors/Hand.svg"), pointer;
  transition: 0.25 ease-in-out;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others .theme-switcher .btn img {
  opacity: 0.4;
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others .theme-switcher .btn.active {
  background-color: #F8F8F8;
  box-shadow: 0px 0px 10px -4px rgba(6, 9, 19, 0.25);
}
main.home .item#first .know-more-wrapper .map-others-wrapper .others .theme-switcher .btn.active img {
  opacity: 1;
}
main.home .item#second {
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main.home .item#second .socialsmedia--software-mail {
  display: flex;
  gap: 16px;
}
main.home .item#second .socialsmedia--software-mail .socials-media {
  width: calc(35% - 8px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main.home .item#second .socialsmedia--software-mail .socials-media a {
  background-color: rgba(245, 245, 245, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  height: 128px;
}
main.home .item#second .socialsmedia--software-mail .software-mail {
  width: calc(65% - 8px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software {
  display: flex;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 24px;
  height: 272px;
  flex-direction: column;
  justify-content: space-around;
  padding: 32px 0;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software .software-text {
  padding: 0 32px;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software .software-text span {
  color: #82848A;
  font-size: 12px;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software .software-text p {
  color: #3F424A;
  font-size: 24px;
  font-weight: 500;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software .logo-slider {
  --image-size: 40px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software .logo-slider .img-wrapper {
  display: flex;
  gap: 16px;
  animation: marquee 30s linear infinite;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software .logo-slider div {
  display: flex;
  position: relative;
  justify-content: space-around;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software .logo-slider .img-container {
  height: 80px;
  width: 80px;
  border-radius: 18px;
  background-color: #E6E6E7;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software .logo-slider img {
  display: block;
  min-width: var(--image-size);
  height: var(--image-size);
  margin: 0 1vw;
}
main.home .item#second .socialsmedia--software-mail .software-mail .software .logo-slider:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #F5F5F5, rgba(245, 245, 245, 0) 80px, rgba(245, 245, 245, 0) calc(100% - 80px), #F5F5F5);
}
@media (max-width: 900px) {
  main.home .item#second .socialsmedia--software-mail .software-mail .software .logo-slider {
    --image-size: min(max(50px, 10vw), 40px);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
main.home .item#second .socialsmedia--software-mail .software-mail .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 24px;
  height: 128px;
}
main.home .item#second .studies {
  min-height: 700px;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}
main.home .item#second .studies div:first-child {
  display: flex;
  flex-direction: column;
}
main.home .item#second .studies div:first-child span {
  font-size: 12px;
  color: #82848A;
}
main.home .item#second .studies div:first-child p {
  font-size: 24px;
  font-weight: 500;
  color: #3F424A;
}
main.home .item#second .studies div:last-child {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
main.home .item#second .studies div:last-child span {
  font-size: 12px;
  color: #82848A;
}
main.home .item#second .studies div:last-child span em {
  font-size: 12px;
  font-weight: 600;
  color: #82848A;
}
main.home .item#second .studies .timeline {
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
}
main.home .item#second .studies .timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 85%;
  background: #B7B7B8;
}
main.home .item#second .studies .timeline ul {
  padding: 0;
  margin: 0;
}
main.home .item#second .studies .timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}
main.home .item#second .studies .timeline ul li .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main.home .item#second .studies .timeline ul li .content p {
  display: flex;
  flex-direction: column;
}
main.home .item#second .studies .timeline ul li.now::before {
  background: #3043FE !important;
  box-shadow: 0 0 0 3px #3043FE !important;
}
main.home .item#second .studies .timeline ul li:nth-child(even) {
  float: left;
  text-align: right;
  clear: both;
  padding: 20px 36px 64px 0;
}
main.home .item#second .studies .timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  right: -6px;
  background: #B7B7B8;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #B7B7B8;
}
main.home .item#second .studies .timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  right: -112px;
  margin: 0;
}
main.home .item#second .studies .timeline ul li:nth-child(even) .time h4 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #3F424A;
}
main.home .item#second .studies .timeline ul li:nth-child(odd) {
  float: right;
  text-align: left;
  clear: both;
  padding: 20px 0 64px 36px;
}
main.home .item#second .studies .timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  left: -4px;
  background: #B7B7B8;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #B7B7B8;
}
main.home .item#second .studies .timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  left: -112px;
  margin: 0;
}
main.home .item#second .studies .timeline ul li:nth-child(odd) .time h4 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #3F424A;
}
main.home .item#second .studies .timeline ul li h3 {
  padding: 0;
  margin: 0;
  color: #3F424A;
  font-weight: 600;
  font-size: 20px;
}
main.home .item#second .studies .timeline ul li h3 em {
  font-weight: 100;
}
main.home .item#second .studies .timeline ul li p {
  font-size: 12px !important;
  color: #060913 !important;
  margin: 0;
  padding: 0;
}
main.home .item#second .studies .timeline ul li span {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  color: #060913 !important;
}
main.home .item#second .studies .timeline ul li .time h4 {
  margin: 0;
  padding: 0;
}
main.home .item#third {
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main.home .item#third .projects,
main.home .item#third .experiences {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 24px;
}
main.home .item#third .projects .up-title,
main.home .item#third .experiences .up-title {
  display: flex;
  flex-direction: column;
}
main.home .item#third .projects .up-title span,
main.home .item#third .experiences .up-title span {
  font-size: 12px;
  color: #82848A;
}
main.home .item#third .projects .up-title p,
main.home .item#third .experiences .up-title p {
  font-size: 24px;
  font-weight: 500;
  color: #3F424A;
}
main.home .item#third .projects {
  min-height: 700px;
}
main.home .item#third .projects .btns {
  margin-top: 16px;
  margin-bottom: 32px;
  display: flex;
  gap: 8px;
}
main.home .item#third .projects .btns .btn {
  padding: 12px;
  min-width: 120px;
  text-align: center;
  background-color: #F5F5F5;
  border-radius: 10px;
  color: #B7B7B8;
  font-weight: 500;
  cursor: url("/src/Assets/Images/Cursors/Hand.svg"), pointer;
}
main.home .item#third .projects .btns .btn.active {
  color: #3F424A;
  box-shadow: 0px 0px 10px -4px rgba(63, 66, 74, 0.5);
}
main.home .item#third .projects .projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main.home .item#third .projects .projects-wrapper .separator {
  height: 1px;
  width: 85%;
  background-color: #E6E6E7;
  border-radius: 1px;
  margin: 0 auto;
}
main.home .item#third .projects .projects-wrapper .project-item {
  display: flex;
  gap: 16px;
}
main.home .item#third .projects .projects-wrapper .project-item.right h5,
main.home .item#third .projects .projects-wrapper .project-item.right p {
  text-align: end;
}
main.home .item#third .projects .projects-wrapper .project-item.right .tags {
  align-self: end;
}
main.home .item#third .projects .projects-wrapper .project-item img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  height: 150px;
}
main.home .item#third .projects .projects-wrapper .project-item .project-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main.home .item#third .projects .projects-wrapper .project-item .project-text h5 {
  font-size: 32px;
  color: #3F424A;
  font-weight: 700;
}
main.home .item#third .projects .projects-wrapper .project-item .project-text p {
  color: #82848A;
  font-size: 14px;
}
main.home .item#third .projects .projects-wrapper .project-item .project-text .tags {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
main.home .item#third .projects .projects-wrapper .project-item .project-text .tags span {
  padding: 2px 12px;
  border-radius: 50px;
  background-color: #82848A;
  color: #3F424A;
  font-weight: 700;
  font-size: 12px;
}
main.home .item#third .projects .btn-random {
  align-self: center;
  margin-top: 32px;
  border-radius: 8px;
  background-color: #3F424A;
  padding: 4px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("/src/Assets/Images/Cursors/Hand.svg"), pointer;
}
main.home .item#third .projects .btn-random img {
  height: 32px;
  width: 32px;
}
main.home .item#third .experiences .separator {
  height: 1px;
  width: 80%;
  background-color: #E6E6E7;
  align-self: center;
  border-radius: 1px;
  margin: 48px 0 48px 0;
}
main.home .item#third .experiences .dev-web,
main.home .item#third .experiences .summer-job {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main.home .item#third .experiences .summer-job .exp .title p {
  color: #B7B7B8;
  text-decoration: line-through;
}
main.home .item#third .experiences .exp {
  display: flex;
  cursor: url("/src/Assets/Images/Cursors/Hand.svg"), pointer;
}
main.home .item#third .experiences .exp .title {
  width: 70%;
}
main.home .item#third .experiences .exp .title p {
  font-size: 32px;
  font-weight: 700;
  color: #3F424A;
}
main.home .item#third .experiences .exp .title span {
  font-size: 20px;
  font-weight: 500;
  color: #3F424A;
}
main.home .item#third .experiences .exp .company {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
main.home .item#third .experiences .exp .company p {
  font-size: 16px;
  font-weight: 500;
  color: #3F424A;
  text-align: end;
}
main.home .item#third .experiences .exp .company p i {
  font-size: 12px;
  font-weight: 500;
  color: #3F424A;
}
main.home .item#third .experiences .exp .company span {
  font-size: 12px;
  color: #82848A;
}
main.home .internal-link::before {
  content: url("/src/Assets/Images/internal-link.svg");
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  cursor: url("/src/Assets/Images/Cursors/Hand.svg"), pointer;
  margin-bottom: -22px;
  margin-left: auto;
}

main.me {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main.me .container {
  background-color: rgba(245, 245, 245, 0.8);
  padding: 32px;
  border-radius: 24px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main.me .container .title span {
  font-size: 12px;
  color: #82848A;
}
main.me .container .title p {
  font-size: 24px;
  font-weight: 500;
  color: #3F424A;
}
main.me .container .separator {
  height: 1px;
  width: 90%;
  background-color: #B7B7B8;
  border-radius: 5px;
  margin-top: 24px;
  margin-bottom: 24px;
  align-self: center;
  opacity: 0.5;
}
main.me .container.about {
  overflow: hidden;
}
main.me .container.about::before {
  content: "COLIN LALLAURET";
  text-wrap: nowrap;
  font-size: 126px;
  color: #B7B7B8;
  opacity: 0.1;
  position: absolute;
  margin-top: -32px;
}
@media (max-width: 1168px) {
  main.me .container.about::before {
    display: none;
  }
}
main.me .studies-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
main.me .studies-wrapper .study {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
main.me .studies-wrapper .study .date {
  text-wrap: nowrap;
  font-size: 32px;
  font-weight: 700;
  color: #3F424A;
  width: 185px;
  text-align: end;
}
@media (max-width: 768px) {
  main.me .studies-wrapper .study .date {
    text-align: start;
  }
}
main.me .studies-wrapper .study .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 55%;
}
@media (max-width: 768px) {
  main.me .studies-wrapper .study .text {
    width: 100%;
  }
}
main.me .studies-wrapper .study .text .title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main.me .studies-wrapper .study .text .title span {
  font-size: 16px;
  font-weight: 200;
  color: #3F424A;
  font-style: italic;
}
main.me .studies-wrapper .study .text h4 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #3F424A;
  line-height: 140%;
}
main.me .studies-wrapper .study .text .tags-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}
main.me .studies-wrapper .study .text .tags-wrapper .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
main.me .studies-wrapper .study .text .tags-wrapper .tags span {
  padding: 2px 12px;
  font-size: 12px;
  font-weight: 700;
  color: #3F424A;
  border-radius: 50px;
  background-color: #B7B7B8;
}
main.me .studies-wrapper .study .text .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main.me .studies-wrapper .study .text .paragraphs p {
  font-size: 16px;
  line-height: 140%;
}
main.me .studies-wrapper .study .text .paragraphs p em {
  font-weight: 600;
}
main.me .experiences-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
main.me .experiences-wrapper .experience {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
main.me .experiences-wrapper .experience .company {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 140px;
}
main.me .experiences-wrapper .experience .company .name-date {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main.me .experiences-wrapper .experience .company .name-date p {
  font-size: 16px;
  color: #3F424A;
  font-weight: 500;
  text-wrap: nowrap;
  text-align: end;
}
@media (max-width: 940px) {
  main.me .experiences-wrapper .experience .company .name-date p {
    text-align: start;
  }
}
main.me .experiences-wrapper .experience .company .name-date p span {
  font-size: 12px;
  font-weight: 500;
  color: #3F424A;
}
main.me .experiences-wrapper .experience .company .name-date span {
  font-size: 12px;
  color: #82848A;
  text-wrap: nowrap;
  text-align: end;
}
@media (max-width: 940px) {
  main.me .experiences-wrapper .experience .company .name-date span {
    text-align: start;
  }
}
main.me .experiences-wrapper .experience .company .tags {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}
@media (max-width: 940px) {
  main.me .experiences-wrapper .experience .company .tags {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
main.me .experiences-wrapper .experience .company .tags span {
  padding: 2px 12px;
  font-size: 12px;
  font-weight: 700;
  color: #3F424A;
  border-radius: 50px;
  background-color: #B7B7B8;
  width: -moz-fit-content;
  width: fit-content;
}
main.me .experiences-wrapper .experience .text-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
@media (max-width: 940px) {
  main.me .experiences-wrapper .experience .text-logo {
    width: 100%;
  }
}
main.me .experiences-wrapper .experience .text-logo .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 60%;
}
@media (max-width: 940px) {
  main.me .experiences-wrapper .experience .text-logo .text {
    width: 100%;
  }
}
main.me .experiences-wrapper .experience .text-logo .text .title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main.me .experiences-wrapper .experience .text-logo .text .title span {
  color: #3F424A;
  font-size: 20px;
  font-weight: 500;
}
main.me .experiences-wrapper .experience .text-logo .text h4 {
  font-size: 32px;
  font-weight: 700;
  color: #3F424A;
}
main.me .experiences-wrapper .experience .text-logo .text .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main.me .experiences-wrapper .experience .text-logo .text .paragraphs span {
  color: #82848A;
  font-size: 12px;
  font-style: italic;
  line-height: 140%;
}
main.me .experiences-wrapper .experience .text-logo .text .paragraphs p {
  line-height: 140%;
}
main.me .experiences-wrapper .experience .text-logo .text .paragraphs p em {
  font-weight: 600;
}
main.me .experiences-wrapper .experience .text-logo img {
  width: 130px;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0.3;
  filter: grayscale(1);
  margin-right: 80px;
}
@media (max-width: 1168px) {
  main.me .experiences-wrapper .experience .text-logo img {
    display: none;
  }
}
main.me .about-wrapper {
  display: flex;
  gap: 64px;
  justify-content: center;
  margin-top: 64px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  main.me .about-wrapper {
    margin-top: 0;
  }
}
main.me .about-wrapper .picture-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main.me .about-wrapper .picture-wrapper .availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.me .about-wrapper .picture-wrapper .availability a {
  background-color: #3F424A;
  border-radius: 8px;
  padding: 4px 12px;
  color: #F5F5F5;
  font-size: 10px;
  font-weight: 600;
}
main.me .about-wrapper .picture-wrapper .availability .text-pulse {
  display: flex;
  gap: 8px;
  align-items: center;
}
main.me .about-wrapper .picture-wrapper .availability .text-pulse span {
  font-size: 10px;
  font-weight: 700;
  color: #82848A;
}
main.me .about-wrapper .picture-wrapper .availability .text-pulse .dot {
  transform: scale(0.8);
  position: relative;
  height: 16px;
  width: 16px;
  background: #33ce98;
  border-radius: 50%;
}
main.me .about-wrapper .picture-wrapper .availability .text-pulse .dot:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #2FDA9D;
  animation: pulse 1.5s infinite;
  transform-origin: center center;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
main.me .about-wrapper .picture-wrapper .picture {
  width: 240px;
  height: 406px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 15px -5px rgba(6, 9, 19, 0.5);
  border-radius: 24px;
}
main.me .about-wrapper .picture-wrapper .picture img {
  max-width: 174px;
  height: auto;
}
main.me .about-wrapper .text {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  main.me .about-wrapper .text {
    width: 100%;
  }
}
main.me .about-wrapper .text .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main.me .about-wrapper .text .paragraphs p {
  line-height: 140%;
}
main.me .about-wrapper .text .paragraphs p em {
  font-weight: 600;
}
main.me .about-wrapper .text .btns {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 768px) {
  main.me .about-wrapper .text .btns {
    margin-top: 16px;
  }
}
main.me .about-wrapper .text .btns .external {
  display: flex;
  align-items: center;
  gap: 16px;
}
main.me .about-wrapper .text .btns .external a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main.me .about-wrapper .text .btns .external a img {
  max-width: 24px;
  height: auto;
}
main.me .about-wrapper .text .btns .internal {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
main.me .about-wrapper .text .btns .internal a {
  padding: 12px 24px;
  background-color: #F5F5F5;
  color: #B7B7B8;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
}
main.me .about-wrapper .text .btns .internal a:hover {
  color: #82848A;
  box-shadow: 0px 0px 15px -5px rgba(6, 9, 19, 0.5);
}
@keyframes mouse-scroll {
  0% {
    top: 10%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30%;
    opacity: 0;
  }
}
.scroll-msg-container {
  position: relative;
}

.scroll-msg-inner {
  width: 26px;
  height: 50px;
  position: relative;
  border-radius: 15px;
  border: 1px solid #ffffff;
}

.scroll-msg-wheel {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 3px;
  height: 3px;
  margin-left: -1px;
  border-radius: 50%;
  background-color: #ffffff;
  animation: mouse-scroll 1.3s infinite;
}/*# sourceMappingURL=main.css.map */